modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "artifacts/medical-app-mobile: MedStudent Mobile"

[[workflows.workflow]]
name = "artifacts/medical-app-mobile: MedStudent Mobile"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/medical-app-mobile run dev"
waitForPort = 8099

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "artifacts/medical-app: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/medical-app"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/medical-app run dev"
cwd = "./artifacts/medical-app"
waitForPort = 20087
router = "path"

[workflows.workflow.tasks.env]
PORT = "20087"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080

[workflows.workflow.tasks.env]
PORT = "8080"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[[workflows.workflow]]
name = "artifacts/medstudent-promo: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/medstudent-promo"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/medstudent-promo run dev"
cwd = "./artifacts/medstudent-promo"
waitForPort = 24106
router = "path"

[workflows.workflow.tasks.env]
PORT = "24106"
BASE_PATH = "/medstudent-promo/"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 90000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 5000

[[ports]]
localPort = 8083
externalPort = 5173

[[ports]]
localPort = 8084
externalPort = 6000

[[ports]]
localPort = 8085
externalPort = 6800

[[ports]]
localPort = 8086
externalPort = 8000

[[ports]]
localPort = 8099

[[ports]]
localPort = 8100
externalPort = 4200

[[ports]]
localPort = 20087
externalPort = 3000

[[ports]]
localPort = 24106
externalPort = 3001

[nix]
packages = ["zip", "z-lua", "unzipNLS"]
